@model HomeVM
@{
	ViewData["Title"] = "Index";
}

}
<!-- Start Header-Slider Section -->
<section id="header-slider">
	<div class="hero-slider">
		@foreach (Slider slider in Model.Sliders)
		{
			<div class="col-12 col-lg-12">
				<div class="single-slider">
					<div class="slider-img-fluid">
						<img src="assets/img/Slider/@slider.Image" alt="">
					</div>
					<div class="slider-text col-7 col-lg-2 ">
						<span class="sub-title">
							<h4>@slider.SubTitle</h4>
						</span>
						<span class="main-title">
							<h1>@Html.Raw(slider.MainTitle)</h1>
						</span>
						<span class="desc">@slider.Description</span>
						<a href="#" class="btn btn-dark">Shop Now</a>
					</div>
				</div>
			</div>
		}

	</div>
</section>
<!-- End Header-Slider Section -->
<!-- Start Banner Section-->
<section id="banner">
	<div class="container">
		<div class="row">
			<div class="laber-banner col-xs-12 col-lg-4 col-md-12 col-sm-12">
				<div class="banner-single-item">
					<div class="banner-img">
						<img src="assets/img/Banner/banner-1.jpg">
					</div>
					<div class="banner-title">
						<a asp-controller="Shop" asp-action="Index">Shop Men's</a>
					</div>
				</div>
			</div>
			<div class="laber-banner col-xs-12 col-lg-4 col-md-12 col-sm-12">
				<div class="banner-single-item">
					<div class="banner-img">
						<img src="assets/img/Banner/banner-2.jpg">
					</div>
					<div class="banner-title">
						<a asp-controller="Shop" asp-action="Index">Shop Women's</a>
					</div>
				</div>
			</div>
			<div class="laber-banner col-xs-12 col-lg-4 col-md-12 col-sm-12">
				<div class="banner-single-item">
					<div class="banner-img">
						<img src="assets/img/Banner/banner-3.jpg">
					</div>
					<div class="banner-title">
						<div class="banner-sub-title">
							<h1>
								Mid-Season Sale
								Get Up To 50% Off
							</h1>
							<div class="banner-desc">
								<p>Casual pieces for chilling at home.</p>
							</div>
						</div>
						<a asp-controller="Shop" asp-action="Index">Discover Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Section -->
<!-- Start hand-picked Section-->
<section id="hand-Pick" class="mb-5">
	<div class="hand-pick-title text-center">
		<h3 class="fw-bold">This week’s highlights</h3>
		<p>Your favorites, in new prints and styles.</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="product-slider d-flex justify-content-between flex-wrap">
				@foreach (Product product in Model.Products.Take(10))
				{
					var reviews = product?.Reviews;
					double averageStars = reviews != null && reviews.Any() ? reviews.Average(r => r.Star) : 0;
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="product-single-item">
							<div class="product-thumb mb-4">
								<a asp-controller="Shop" asp-action="Detail" asp-route-productId="@product.Id" class="product-img">
									<img class="first-image" src="~/assets/img/Product/@product.MainImage" alt="">
									<img class="second-image" src="~/assets/img/Product/@product.HoverImage" alt="">
								</a>
							</div>
							<div class="product-content">
								<div class="product-name">
									<h2><a asp-controller="Shop" asp-action="Detail" asp-route-productId="@product.Id">@product.Title</a></h2>
								</div>
								<div class="product-reviews">
									@for (int i = 0; i < 5; i++)
									{
										<i class="good fa-@(i < averageStars ? "solid" : "regular") fa-star"></i>
									}
									(@product.Reviews?.Count())
								</div>
								<div class="price-box">
									@if (product.DiscountedPrice > 0)
									{
										<span class="price-regular">$@product.DiscountedPrice</span>
										<span class="price-old"><del>$@product.Price</del></span>
									}
								</div>
								<div class="product-overlay-top-left">
									@if (product.DiscountedPrice > 0)
									{
										<span class="sale-price">@Math.Ceiling((((product.Price - product.DiscountedPrice) / product.Price) * 100))%</span>
									}
								</div>
								<div class="heart-button">
									<a style="cursor:pointer" class="addToWishlist" data-id="@product.Id"><i style="color: #ff0000;" class="fa-regular fa-heart"></i></a>
								</div>
								<div class="group-button">
									<a class="productQuickModal" asp-action="ProductModal" asp-controller="Product" asp-route-id="@product.Id" data-bs-toggle="modal" data-bs-target="#product-quick-view">
										<i class="fa-regular fa-eye"></i>
									</a>
									<a class="addToBasket" data-id="@product.Id"><i class="fa-solid fa-basket-shopping"></i></a>
								</div>
							</div>
						</div>
					</div>
				}

			</div>
		</div>
	</div>
</section>
<!-- End hand-picked Section-->
<!-- Start Category Section-->
<section id="Category-Section">
	<div class="container">
		<div class="category-all">
			<div class="category-content-title">
				<div class="wrap-title ">
					<div class="category-title">
						<h3>Top Categories on This Week</h3>
					</div>
					<div class="category-description">
						Shop the world’s best destinations from home
					</div>
					<div class="category-link">
						<a asp-controller="Shop" asp-action="Index">All Categories</a>
					</div>
				</div>
			</div>
			<div class="category-carousel">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="category-single-item">
						<div class="category-img">
							<a asp-controller="Shop" asp-action="Index">
								<img src="~/assets/img/Category/category-5.jpg" alt="">
							</a>
						</div>
						<div class="category-text">
							<a href="">
								<h3>@Model.ProductTypes.FirstOrDefault().Name</h3>
							</a>
						</div>
						<div class="category-arrow">
							<a asp-controller="Shop" asp-action="Index">
								<i class="fa-solid fa-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="category-single-item">
						<div class="category-img">
							<a asp-controller="Shop" asp-action="Index">
								<img src="assets/img/Category/category-4.jpg" alt="">
							</a>
						</div>
						<div class="category-text">
							<a href="">
								<h3>@Model.ProductTypes.Skip(1).Take(1).FirstOrDefault().Name</h3>
								
							</a>
						</div>
						<div class="category-arrow">
							<a asp-controller="Shop" asp-action="Index">
								<i class="fa-solid fa-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="category-single-item">
						<div class="category-img">
							<a asp-controller="Shop" asp-action="Index">
								<img src="assets/img/Category/category-1.jpg" alt="">
							</a>
						</div>
						<div class="category-text">
							<a href="">
								<h3>@Model.ProductTypes.Skip(2).Take(2).FirstOrDefault().Name</h3>
								
							</a>
						</div>
						<div class="category-arrow">
							<a asp-controller="Shop" asp-action="Index">
								<i class="fa-solid fa-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="category-single-item">
						<div class="category-img">
							<a asp-controller="Shop" asp-action="Index">
								<img src="assets/img/Category/category-4.jpg" alt="">
							</a>
						</div>
						<div class="category-text">
							<a href="">
								<h3>@Model.ProductTypes.Skip(3).Take(3).FirstOrDefault().Name</h3>
								
							</a>
						</div>
						<div class="category-arrow">
							<a asp-controller="Shop" asp-action="Index">
								<i class="fa-solid fa-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="category-single-item">
						<div class="category-img">
							<a asp-controller="Shop" asp-action="Index">
								<img src="assets/img/Category/category-5.jpg" alt="">
							</a>
						</div>
						<div class="category-text">
							<a href="">
								<h3>@Model.ProductTypes.Skip(4).Take(4).FirstOrDefault().Name</h3>
								
							</a>
						</div>
						<div class="category-arrow">
							<a asp-controller="Shop" asp-action="Index">
								<i class="fa-solid fa-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="category-single-item">
						<div class="category-img">
							<a asp-controller="Shop" asp-action="Index">
								<img src="assets/img/Category/category-6.jpg" alt="">
							</a>
						</div>
						<div class="category-text">
							<a href="">
								<h3>@Model.ProductTypes.Skip(5).Take(5).FirstOrDefault().Name</h3>
								
							</a>
						</div>
						<div class="category-arrow">
							<a asp-controller="Shop" asp-action="Index">
								<i class="fa-solid fa-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Category Section-->
<!-- Start  Highlights Section-->
<section id="hand-Pick" class="mb-5">
	<div class="hand-pick-title text-center">
		<h3 class="fw-bold">Last Uploaded Products</h3>
		<p>Your favorites, in new prints and styles.</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="product-slider d-flex justify-content-between flex-wrap">
				@foreach (Product product in Model.LastProducts.Skip(2).Take(10))
				{
					var reviews = product?.Reviews;
					double averageStars = reviews != null && reviews.Any() ? reviews.Average(r => r.Star) : 0;
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="product-single-item">
							<div class="product-thumb mb-4">
								<a asp-controller="Shop" asp-action="Detail" asp-route-productId="@product.Id" class="product-img">
									<img class="first-image" src="~/assets/img/Product/@product.MainImage" alt="">
									<img class="second-image" src="~/assets/img/Product/@product.HoverImage" alt="">
								</a>
							</div>
							<div class="product-content">
								<div class="product-name">
									<h2><a asp-controller="Shop" asp-action="Detail" asp-route-productId="@product.Id">@product.Title</a></h2>
								</div>
								<div class="product-reviews">
									@for (int i = 0; i < 5; i++)
									{
										<i class="good fa-@(i < averageStars ? "solid" : "regular") fa-star"></i>
									}
									(@product.Reviews?.Count())
								</div>
								<div class="price-box">
									@if (product.DiscountedPrice > 0)
									{
										<span class="price-regular">$@product.DiscountedPrice</span>
										<span class="price-old"><del>$@product.Price</del></span>
									}
								</div>
								<div class="product-overlay-top-left">
									@if (product.DiscountedPrice > 0)
									{
										<span class="sale-price">@Math.Ceiling((((product.Price - product.DiscountedPrice) / product.Price) * 100))%</span>
									}
								</div>
								<div class="heart-button">
									<a style="cursor:pointer" class="addToWishlist" data-id="@product.Id"><i style="color: #ff0000;" class="fa-regular fa-heart"></i></a>
								</div>
								<div class="group-button">
									<a class="productQuickModal" asp-action="ProductModal" asp-controller="Product" asp-route-id="@product.Id" data-bs-toggle="modal" data-bs-target="#product-quick-view">
										<i class="fa-regular fa-eye"></i>
									</a>
									<a class="addToBasket" data-id="@product.Id"><i class="fa-solid fa-basket-shopping"></i></a>
								</div>
							</div>
						</div>
					</div>
				}

			</div>
		</div>
	</div>
</section>
<!-- End  Highlights Section-->
<!-- Start  Brands Section-->
<section id="Brands-Section" class="mb-5">
	<div class="container">
		<div class="brand-carousel">
			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
				<div class="single-brand-item">
					<div class="brand-img">
						<img src="assets/img/Brand/brand-1.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
				<div class="single-brand-item">
					<div class="brand-img">
						<img src="assets/img/Brand/brand-2.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
				<div class="single-brand-item">
					<div class="brand-img">
						<img src="assets/img/Brand/brand-3.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
				<div class="single-brand-item">
					<div class="brand-img">
						<img src="assets/img/Brand/brand-4.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
				<div class="single-brand-item">
					<div class="brand-img">
						<img src="assets/img/Brand/brand-5.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
				<div class="single-brand-item">
					<div class="brand-img">
						<img src="assets/img/Brand/brand-6.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End  Brands Section-->

