@model ProductReviewVM
@{
    var reviews = Model.Product.Reviews;
    double averageStars = reviews != null && reviews.Any() ? reviews.Average(r => r.Star) : 0;
}
<!-- Start BreadCrumb Area -->
   <section id="BreadCrumb-Section">
    <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb-wrap text-center">
                  <nav aria-label="breadcrumb">
                      <h1 class="breadcrumb-title">Product Details</h1>
                      <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>
   </section>
    <!-- End BreadCrumb Area -->
<!-- Start  Product-Details Section-->
<section>
    <div class="container">
        <div class="row">
            <div class="product-details-area">
                <div class="product-modal-carousel col-xs-12 col-sm-12 col-12 col-md-12 col-lg-6">
                    @if (Model.Product.ProductImages != null && Model.Product.ProductImages.Count() > 0)
                    {
                        @foreach (ProductImage productImage in Model.Product.ProductImages)
                        {
                            <div class="pr-img"><img src="~/assets/img/Product/@productImage.Image"></div>
                        }
                    }
                </div>
                <div class="product-details col-xs-12 col-sm-12 col-12 col-md-12 col-lg-6">
                    <div class="product-name">
                        <h2><a href="">@Model.Product.Title</a></h2>
                    </div>
                    <div class="product-reviews">
                        <span class="stars">

                            @for (int i = 0; i < 5; i++)
                            {
                                <i class="good fa-@(i < averageStars ? "solid" : "regular") fa-star"></i>
                            }
                            
                        </span>
                        <span class="total-reviews">
                            @(Model.Product.Reviews ==null ? "No":Model.Product.Reviews.Count()) Reviews
                        </span>
                        <a href="#" class="write-review">Write a Review</a>
                    </div>
                    <div class="modal-line">
                        <hr>
                    </div>
                    <div class="price-box">
                        @if (Model.Product.DiscountedPrice > 0)
                        {
                            <span class="price-regular">$@Model.Product.DiscountedPrice</span>
                            <span class="price-old"><del>$@Model.Product.Price</del></span>
                        }
                    </div>
                    <div class="modal-line">
                        <hr>
                    </div>
                    <div class="product-add-qty">
                        <div class="product-qty">
                            <input type="number" value="1" min="0" max="10">
                        </div>
                        <div class="product-add-to-cart-btn">
                            <a class="addToCard" data-id="@Model.Product.Id">Add To Cart</a>
                        </div>
                    </div>
                    <div class="modal-line">
                        <hr>
                    </div>
                    <div class="product-stock">
                        <span class="fw-bold mx-2">Stock:</span><span class="stock-check">@(Model.Product.Count > 0 ? "In Stock" : "Out of Stock")</span>
                    </div>
                    <div class="modal-line">
                        <hr>
                    </div>
                    <div id="add-to-wishlist">
                        <i class="fa-regular fa-heart"></i>
                        <a style="cursor:pointer" class="addToWishlist" data-id="@Model.Product.Id">ADD TO WISHLIST</a>
                    </div>
                    <div class="modal-line">
                        <hr>
                    </div>
                    <div class="follow-us-area">
                        <h5>Share:</h5>
                        <div class="social-icons">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-telegram"></i>
                        </div>
                    </div>
                    <div class="modal-line">
                        <hr>
                    </div>
                    <div class="product-mini-description">
                        <h4>Description</h4>
                        <p>
                            @Model.Product.ShortDescription
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End  Product-Details Section-->
<!-- Start  Product-Tab-menu Section-->
<section id="Product-Tab-Menu-Section">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link @(TempData["Tab"]==null ? "active" : "")" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="home" aria-selected="@(TempData["Tab"]==null ? "true" : "false")">Description</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @(TempData["Tab"]?.ToString()=="shipping" ? "active" : "")" id="shipping-tab" data-bs-toggle="tab" data-bs-target="#shipping" type="button" role="tab" aria-controls="shipping" aria-selected="@(TempData["Tab"]?.ToString()=="shipping" ? "true" : "false")">Shipping</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @(TempData["Tab"]?.ToString()=="review" ? "active" : "")" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="@(TempData["Tab"]?.ToString()=="review" ? "true" : "false")">Reviews(@Model.Product.Reviews?.Count())</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade@(TempData["Tab"]?.ToString()==null ? "show active" : "")" id="description" role="tabpanel" aria-labelledby="description-tab">
                <div class="row">
                    <div class="long-description col-xs-12 col-sm-12 col-lg-6">
                        <p>
                         @Model.Product.LongDescription
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade@(TempData["Tab"]?.ToString()=="shipping" ? "show active" : "")" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                <div class="row">
                    <div class="shipping col-xs-12 col-sm-12 col-lg-6">
                        Shipping cost is based on weight. Just add products to your cart and use the Shipping Calculator to see the shipping price.
                        We want you to be 100% satisfied with your purchase. Items can be returned or exchanged within 30 days of delivery.
                    </div>
                </div>
            </div>
            <div class="tab-pane fade@(TempData["Tab"]?.ToString()=="review" ? "show active" : "")" id="review" role="tabpanel" aria-labelledby="review-tab">
                 <div class="average-rating">
                        @if (Model.Product.Reviews.Count() > 0)
                        {
                            <h4 class="rating-overall">@(Model.Product.Reviews.Sum(r => r.Star) / @Model.Product.Reviews.Count()) <span>(Overall)</span></h4>
                        }
                            <p>Based on @Model.Product.Reviews.Count() Comments</p>
                        </div>   
                @if (Model.Product.Reviews != null && Model.Product.Reviews.Count() > 0)
                {
                    @foreach (Review review in Model.Product.Reviews)
                    {
                        <div class="total-review">
                            <div class="review-box">
                                <div class="ratings">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <span class="good"><i class="@(i <= review.Star ? "fas" : "far") fa-star"></i></span>
                                    }

                                </div>
                                <div class="post-author">
                                    <p><span>@review.Name </span>@review.CreatedAt?.ToString("dd-MMMM-yyyy")</p>
                                </div>
                                <p style="font-weight:bold;font-size:18px">@review.Description</p>
                                <div class="modal-line">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    }
                }
                @await Html.PartialAsync("_AddReviewPartial",Model.Review)
            </div>
        </div>
    </div>
</section>
<!-- End  Product-Tab-menu Section-->