@model ShopVM

<!-- Start BreadCrumb Area -->
<section id="BreadCrumb-Section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h1 class="breadcrumb-title">Shop</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End BreadCrumb Area -->
<!-- Start  OFf Canvas-Filter Section-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="filter-area" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <div class="single-sidebar-item">
                <div class="sidebar-title">
                    Category
                </div>
                <div class="sidebar-body">
                    <ul class="category-list">
                        <li><a href="#">All Categories <span>(20)</span></a></li>
                        <li><a href="#">Mens <span>(10)</span></a></li>
                        <li><a href="#">Womens <span>(05)</span></a></li>
                    </ul>
                    <div class="modal-line">
                        <hr>
                    </div>
                    <div class="sidebar-title">
                        Product Type
                    </div>
                    <ul class="category-list">
                        <li><a href="#">All Categories <span>(20)</span></a></li>
                        <li><a href="#">Backpacks <span>(10)</span></a></li>
                        <li><a href="#">Sunglasses <span>(05)</span></a></li>
                        <li><a href="#">Shirts <span>(15)</span></a></li>
                        <li><a href="#">Tops <span>(12)</span></a></li>
                        <li><a href="#">Accessories <span>(20)</span></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="modal-line">
            <hr>
        </div>
        <div class="single-sidebar-item">
            <div class="sidebar-title">
                Filter By Price
            </div>
            <div class="sidebar-body">
                <div class="price-range-wrap">
                    <div class="price-range" data-min="20" data-max="400"></div>
                    <div class="range-slider">
                        <form action="#">
                            <div class="price-input">
                                <label for="amount">Price:</label>
                                <input type="text" class="filter-amount">
                            </div>
                            <button class="filter-btn">filter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
<!-- End  OFf Canvas-Filter Section-->
<!-- Start  All Products Section-->
<section>
    <div class="container">
        <div class="row">
            <div class="shop-main-area">
                <div class="sidebar-area">
                    <div class="col-lg-auto col-xs-12  col-sm-4 col-md-3 col-lg-12">
                        <div class="single-sidebar-item">
                            <div class="sidebar-title">
                                Category
                            </div>
                            <div class="sidebar-body">
                                <ul class="category-list">
                                    @foreach (Category category in Model.Categories)
                                    {
                                        <li><a style="cursor:pointer" class="category-selector" asp-route-categoryId="@category.Id" asp-route-productTypeId="@ViewBag.productTypeId">@category.Name<span>(@(category.Products?.Count() == null ? 0 : category.Products?.Count()))</span></a></li>
                                    }

                                </ul>
                                <div class="modal-line">
                                    <hr>
                                </div>
                                <div class="sidebar-title">
                                    Product Type
                                </div>
                                <ul class="category-list">
                                    @foreach (ProductType productType in Model.ProductTypes)
                                    {
                                        <li><a style="cursor:pointer" class="productType-selector" asp-route-categoryId="@ViewBag.categoryId" asp-route-productTypeId="@productType.Id">@productType.Name <span>(@(productType.Products?.Count() == null ? 0 : productType.Products?.Count()))</span></a></li>
                                    }

                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="modal-line">
                        <hr>
                    </div>
                    <div class="col-lg-auto col-xs-12  col-sm-4 col-md-3 col-lg-12">
                        <div class="single-sidebar-item">
                            <div class="sidebar-title">
                                Filter By Price
                            </div>
                            <div class="sidebar-body">
                                <div class="price-range-wrap">
                                    <div class="price-range" data-min="20" data-max="
                                400"></div>
                                    <div class="range-slider">
                                        <form>
                                            <div class="price-input">
                                                <label for="amount">Price: </label>
                                                <input type="text" id="amount" class="rangeInput">
                                            </div>
                                            <button class="filter-btn filterInput">filter</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="all-products-area col">
                    <div class="row">
                        <div class="collection-name mx-4">
                            <h1>Products</h1>
                        </div>
                        <div class="control">
                            <div class="products-count mx-4">
                                <button class="mobile-sidebar-btn" type="button" data-bs-toggle="offcanvas"
                                        data-bs-target="#filter-area">
                                    Filter
                                </button>
                                <span>Showing 1–20 of 37 results</span>
                            </div>
                            <div class="sort-by-area mx-5">
                                <form method="post" asp-controller="Shop" asp-action="Index" id="my-form">
										<div class="product-short">
											<p>Sort By:</p>
											<select class="nice-select" asp-for="SortBy" asp-route-filter="@Model.Filter" asp-route-sortby="@Model.SortBy" onchange="submitForm()" form="my-form">
												<option value="1">Name (A - Z)</option>
												<option value="2">Name (Z - A)</option>
												<option value="3">Price (Low &gt; High)</option>
												<option value="4">Price (High &gt; Low)</option>
											</select>
										</div>
									</form>
                            </div>
                        </div>
                        <div class="pro-areas">
                            <div class="row pro-area">
                                @await Html.PartialAsync("_ProductListPartial",Model.Products)
                           </div>
                        </div>

                    </div>
                </div>               
            </div>
        </div>
        </div>
</section>
<!-- End  All Products Section-->
<!-- Start  Paginaton Section-->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.Products.PageIndex > 1)
        {
            <li class="page-item">
                <a class="page-link" aria-label="Previous" asp-action="index" asp-controller="shop" asp-route-pageIndex=@(Model.Products.PageIndex -1) asp-route-sortby="@Model.SortBy">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = Model.Products.StartPage; i <= Model.Products.EndPage; i++)
        {
            <li class="page-item @(Model.Products.PageIndex==i ? "active": "" )"><a class="page-link" asp-action="index" asp-controller="shop" asp-route-pageIndex=@i asp-route-sortby="@Model.SortBy">@i</a></li>
        }
        
        @if (Model.Products.PageIndex < Model.Products.TotalPage)
        {
            <li class="page-item">
                <a class="page-link" aria-label="Next" asp-action="index" asp-controller="shop" asp-route-pageIndex=@(Model.Products.PageIndex +1) asp-route-sortby="@Model.SortBy">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>
<!-- End  Paginaton Section-->
<script>
    function submitForm() {
        var form = document.getElementById("my-form");
        form.submit();
    }
</script>