@model Product
@{
	var reviews = Model?.Reviews;
	double averageStars = reviews != null && reviews.Any() ? reviews.Average(r => r.Star) : 0;
}
<div class="modal-body">
	<div class="row pr-modal-items">
		<div class="product-modal-carousel col-xs-12 col-sm-12  col-md-6 col-lg-6">
			@if (Model?.ProductImages != null && Model.ProductImages.Count() > 0)
			{
				@foreach (ProductImage productImage in Model.ProductImages)
				{
					<div class="pr-img"><img src="~/assets/img/Product/@productImage.Image"></div>
				}
			}

		</div>
		<div class="product-details col-xs-12 col-sm-12  col-md-6 col-lg-6">
			<div class="product-name">
				<h2><a asp-controller="Shop" asp-action="Detail" asp-route-productId="@Model.Id">@Model.Title</a></h2>
			</div>
			<div class="product-reviews">
                        <span class="stars">

					@for (int i = 0; i < 5; i++)
					{
						<i class="good fa-@(i < averageStars ? "solid" : "regular") fa-star"></i>
					}
                            
                        </span>
                        <span class="total-reviews">
                            @(Model.Reviews ==null ? "No":Model.Reviews.Count()) Reviews
                        </span>
				<a asp-controller="Shop" asp-action="Detail" asp-route-productId="@Model.Id" class="write-review">Write a Review</a>
			</div>
			<div class="modal-line">
				<hr>
			</div>
			<div class="price-box">
				@if (Model.DiscountedPrice > 0)
				{
					<span class="price-regular">$@Model.DiscountedPrice</span>
					<span class="price-old"><del>$@Model.Price</del></span>
				}
			</div>
			<div class="modal-line">
				<hr>
			</div>
			<div class="product-add-qty">
				<div class="product-qty">
					<input type="number" value="1" min="0" max="10">
				</div>
				<div class="product-add-to-cart-btn">
					<a class="addToCard" data-id="@Model.Id">Add To Cart</a>
				</div>
			</div>
			<div class="modal-line">
				<hr>
			</div>
			<div id="add-to-wishlist">
				<i class="fa-regular fa-heart"></i>
				<a style="cursor:pointer" class="addToWishlist" data-id="@Model.Id">ADD TO WISHLIST</a>
			</div>
			<div class="modal-line">
				<hr>
			</div>
			<div class="follow-us-area">
				<h5>Share:</h5>
				<div class="social-icons">
					<i class="fa-brands fa-facebook-f"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-whatsapp"></i>
					<i class="fa-brands fa-telegram"></i>
				</div>
			</div>
		</div>
	</div>
</div>